<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <label for="team_name">Team Name:</label>
  <input type="text" name="name"><br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="motto">
  <h2>Hero 1</h2>
  <label for="hero1_name">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]"><br>
  <label for="hero1_power">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]"><br>
  <label for="hero1_bio">Hero's Biography:</label>
  <input type="text" name="team[heroes][][bio]"><br>
  <h2>Hero 2</h2>
  <label for="hero2_name">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]"><br>
  <label for="hero2_power">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]"><br>
  <label for="hero2_bio">Hero's Biography:</label>
  <input type="text" name="team[heroes][][bio]"><br>
  <h2>Hero 3</h2>
  <label for="hero3_name">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]"><br>
  <label for="hero3_power">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]"><br>
  <label for="hero3_bio">Hero's Biography:</label>
  <input type="text" name="team[heroes][][bio]"><br>
  <input type="submit">
</form>
